 body {
  background-image: url(bg.jpg);
  background-repeat: no-repeat;background-size: 100%;

      font-family: Arial, sans-serif;
      
      color: white;
      text-align: center;
      padding: 20px;
      margin: 0;
    }

    h1 {
      color: #00ffcc;
      margin-bottom: 30px;
    }

    .choices {
      display: flex;
      justify-content: center;
      gap: 30px;
      margin-bottom: 20px;
    }

    .choice {
      font-size: 50px;
      cursor: pointer;
      transition: transform 0.2s, background-color 0.2s;
      padding: 10px;
      border-radius: 10px;
    }

    .choice:hover {
      transform: scale(1.2);
      background-color: #333;
    }
    .choiced{
       font-size: 50px;
      cursor: pointer;
      transition: transform 0.2s, background-color 0.2s;
      padding: 10px;
      border-radius: 10px; 
    }

    .selected {
      border: 2px solid #00ffcc;
      background-color: #333;
    }

    #result {
      font-size: 24px;
      margin-top: 20px;
    }

    #score {
      font-size: 18px;
      margin-top: 10px;
    }

   